* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.main-news {
  flex: 3;
  margin-right: 20px;
  padding: 16px;
  border-bottom: 1px solid #444;
  background-color: #1e1e1e;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #b1b1b1;
}

.main-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.news-paragraph {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: white;
}

strong {
  color: #5571ff;
}

#news-container {
  flex: 1;
  padding: 16px;
  background-color: #1e1e1e;
  border-radius: 8px;
}

aside {
  display: flex;
  flex-direction: column;
}

article.news {
  margin-bottom: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #2c2c2c;
  transition: transform 0.3s, box-shadow 0.3s;
}

article.news:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

article.news h1 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

article.news .info {
  display: flex;
  width: 100%;
  gap: 15px;
  color: #bbb;
}

article.news .banner {
  width: 100%;
}

article.news .banner img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .main-news {
    margin-right: 0;
    width: 100%;
  }

  #news-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  article.news h1 {
    font-size: 1rem;
  }
}
